.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  background-color: whitesmoke;
}

.titles-section{
  margin-bottom: 0;
}

.title-button{
  margin-right: 25%;
  cursor: pointer;
  white-space: nowrap;
}
