<div class="container-center">
  <div class="form-container">
    <h3>Registrarse</h3>
    <hr>
    <form class="register-form">
      <pichincha-input id-element="username" label="Nombre de usuario" placeholder="Ej: jdiegog98" [fullWidth]="true">
      </pichincha-input>
      <pichincha-input id-element="email" label="Correo electrónico" placeholder="Ej: name@example.com"
        [fullWidth]="true">
      </pichincha-input>
      <pichincha-input id-element="password" label="Contraseña" type="password" [fullWidth]="true">
      </pichincha-input>
      <pichincha-input id-element="passwordConfirm" label="Confirmar Contraseña" type="password" [fullWidth]="true">
      </pichincha-input>
      <h4>Categorías</h4>
    </form>
  </div>
</div>
